<!DOCTYPE html>
<html>
<head>
  
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="./css/admin.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <header>
    <h1>Welcome, Admin!</h1>
    <nav>
      <ul>
        <li><a href="/directory">Dashboard</a></li>
        <li><a href="/admin/book">Book Management</a></li>
        <li><a href="/admin/users">User Management</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h2>Admin Dashboard</h2>
    <section>
      <br>
      This chart contains the number of users and the number of books recorded
      <canvas class="chart" id="chart" data-user-count="<%- userCount %>" data-book-count="<%- bookCount %>"></canvas>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Admin Dashboard. All rights reserved.</p>
  </footer>

  
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var chartElement = document.getElementById('chart');
      var userCount = parseInt(chartElement.dataset.userCount);
      var bookCount = parseInt(chartElement.dataset.bookCount);
  
      var ctx = chartElement.getContext('2d');
      var chart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Users', 'Books'],
          datasets: [{
            label: 'Count',
            data: [userCount, bookCount],
            backgroundColor: ['#ff6384', '#36a2eb'],
            borderColor: ['#2c2a2a', '#2c2a2a'],
            borderWidth: 1
          }]
        },
        options: {
          responsive: true,
          scales: {
            y: {
              beginAtZero: true,
              precision: 0
            }
          }
        }
      });
    });
  </script>
  

</body>
</html>
