<!DOCTYPE html>
<html>
  <head>
    <title>Career Center</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>

    <script type="text/javascript">


    // Caesar cipher encryption
    function encrypt(text, shift) {
      var result = "";
      for (var i = 0; i < text.length; i++) {
        var charCode = text.charCodeAt(i);
        if (charCode >= 65 && charCode <= 90) {
          result += String.fromCharCode(((charCode - 65 + shift) % 26) + 65); // Uppercase letters
        } else if (charCode >= 97 && charCode <= 122) {
          result += String.fromCharCode(((charCode - 97 + shift) % 26) + 97); // Lowercase letters
        } else {
          result += text.charAt(i); // Non-alphabetic characters
        }
      }
      return result;
    }

    

    // Caesar cipher decryption
    function decrypt(text, shift) {
      var result = "";
      for (var i = 0; i < text.length; i++) {
        var charCode = text.charCodeAt(i);
        if (charCode >= 65 && charCode <= 90) {
          result += String.fromCharCode(((charCode - 65 - shift + 26) % 26) + 65); // Uppercase letters
        } else if (charCode >= 97 && charCode <= 122) {
          result += String.fromCharCode(((charCode - 97 - shift + 26) % 26) + 97); // Lowercase letters
        } else {
          result += text.charAt(i); // Non-alphabetic characters
        }
      }
      return result;
    }



      window.onclick = function(event) {
    var modal1 = document.getElementById('Login-modal');
    if (event.target == modal1) {
      modal1.style.display = "none"
    }
  }

  $(document).ready(function() {

    // handle form submission for registration
    $("#form1").submit(function (event) {
      event.preventDefault();
  
      // make AJAX request for registration
      $.ajax({
        
        type: 'POST',
        url: '/',
        data: $('#form1').serialize(),
        dataType: "json",
        success: function (response) {
          $('#form1')[0].reset();
          document.getElementById("check").innerHTML = response.Success;
  
          // hide message after 3 seconds
          setTimeout(function () {
            document.getElementById("check").innerHTML = "";
          }, 3000);
  
          // if registration was successful, click on login button
          if (response.Success == "You are regestered,You can login now.") {
            document.getElementById("aa").click();
          };
        },
        error: function () {
        }
      });
    });
  
    // handle form submission for login
    $( "#form" ).submit(function(event) {
      event.preventDefault();
  
      // make AJAX request for login
      $.ajax({
        type: 'POST',
        url: '/login',
        data: $('#form').serialize(),
        dataType: "json",
        success: function(response){
          $('#form')[0].reset();
          document.getElementById("check").innerHTML=response.Success;
  
          // hide message after 3 seconds
          setTimeout(function(){
            document.getElementById("check").innerHTML="";
          },3000);
  
          // if login was successful, click on login button
          if (response.Success=="Success!") {
            document.getElementById("aa").click();
          };
        },
        error: function() {
        }
      });
    });
  });

document.getElementById('phoneInput').addEventListener('keydown', function(e) {
    if (!isNumberKey(e)) {
        e.preventDefault();
    }
});

function isNumberKey(evt) {
    var charCode = (evt.which) ? evt.which : evt.keyCode;
    if (charCode > 31 && (charCode < 48 || charCode > 57)) {
        return false;
    }
    return true;
}

  
    </script>

    <style>


      /* Modal styles */
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #111110af;
        backdrop-filter: blur(5px);
      }


      .close {
        color: #1a1717;
        float: right;
        font-size: 28px;
        font-weight: bold;
        position: absolute;
        
      }

      .close:hover,
      .close:focus {
        color: rgb(68, 32, 32);
        text-decoration: none;
        cursor: pointer;
      }

.direct-login {
  visibility: hidden;

}


    </style>
  </head>
  <body>

    <div class="mssg bg-danger">
      <span id="check"></span>
      </div>

      <div class="width">

        <div class="container">
            <div class="yellow">
                <img src="/assets/CareerCenter.png" class="tip-logo" alt="TIP Logo">
                <button class="btn btn-success login" onclick="document.getElementById('Login-modal').style.display='block'">
                <label class="modalbtn"> Log in </label>
                </button>
                <button class="btn btn-success register" onclick="document.getElementById('Register-modal').style.display='block'">
                  <label class="modalbtn"> Register </label>
                </button>
            </div>
        <div class="black">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="search-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m5.231 13.481L15 17.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v16.5c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9zm3.75 11.625a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
              </svg>
              
        </div>
    </div>
</div>

        <!-- Modal -->
        <div id="Login-modal" class="modal">
          <div class="modal-content-login">
            <div class="form-container">
            <span class="close" onclick="document.getElementById('Login-modal').style.display='none'">&times;</span>
              <div class="form-header">
                <img src="/assets/image2.png" alt="Your Logo">
            </div>
              <form id="form" method="post">
                <div class="input-icon">
                  <i class="fas fa-envelope"></i>
                <input type="text" name="email" placeholder="E-mail" required="" class="form-control"><br />
              </div>
              <div class="input-icon">
                <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Password" required="" class="form-control"><br />
              </div>
              
                <center><input type="submit" value="Login" class="register-btn"></center>
                </div>
              </form>
            </div>
            </div>
            </div>
            <div class="direct-login" id="LangTable">
              <a href="/directory" id="aa"></a>
            </div>
          </div>
        

        <div id="Register-modal" class="modal">
          <div class="modal-content-register">
            <div class="form-container">
              <span class="close" onclick="document.getElementById('Register-modal').style.display='none'">&times;</span>
              <div class="form-header">
                  <img src="/assets/image2.png" alt="Your Logo">
              </div>
              <form id="form1" method="post">
                <div class="input-icon">
                  <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br />
                </div>
                <div class="input-icon">
                  <i class="fas fa-user"></i>
                <input type="text" name="username" placeholder="Username" required="" class="form-control"><br />
                </div>
                <div class="input-icon">
                  <i class="fas fa-user"></i>
                <input type="text" name="phone" id="phoneInput" placeholder="Phone Number" required="" class="form-control"><br />
                </div>
                <div class="input-icon">
                  <i class="fas fa-venus-mars"></i>
                <select class="select-control" name="gender" id="gender" required="">
                  <option value="">Select Gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                  <option value="Prefer-not-to-say">Prefer not to say</option>
                </select><br />
              </div>
              <div class="input-icon">
                <i class="fas fa-graduation-cap"></i>
                <select class="select-control" name="program" id="program" required="">
                  <option value="">Select Program</option>
                  <option value="Business Education">Business Education</option>
                  <option value="Arts">Arts</option>
                  <option value="Engineering & Architecture">Engineering & Architecture</option>
                  <option value="Computer Studies">Computer Studies</option>
                </select><br />
                </div>
                <div class="input-icon">
                  <i class="fas fa-lock"></i>
                <input type="password" id="password" name="password" placeholder="Password" required="" pattern=".{8,}" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Password must be at least 8 characters long and contain at least one letter, one number, and one special character" class="form-control"><br />
              </div>
              <div class="input-icon">
                <i class="fas fa-lock"></i>
                <input type="password" name="passwordConf" placeholder="Confirm Password" required="" pattern=".{8,}" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$" title="Password must be at least 8 characters long and contain at least one letter, one number, and one special character" class="form-control"><br />
              </div>
              <center><input type="submit" value="Register" class="register-btn"></center>
            </div>
              </form>
            </div>
          </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <footer>
      <p>&copy; 2023 Capstone</p>
    </footer>
  </body>
  </html>