<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Status</title>
    <link rel="stylesheet" href="/css/verificationSuccess.css">
</head>
<body>
    <img src="/assets/CareerCenter.png" alt="Logo" class="logo">
        <div class="failed"><h1>Email Verification Failed</h1></div>
        <p>User not found or already verified</p>
        <a href="/" class="login-button">Login Now</a>
</body>
</html>
