<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Status</title>
    <link rel="stylesheet" href="/css/verificationSuccess.css">
</head>
<body>
    <img src="/assets/CareerCenter.png" alt="Logo" class="logo">
    <div class="success"><h1>Email Verification Successful</h1></div>
    <p>Your email has been successfully verified. You can now log in to your account.</p>
    <a href="/" class="login-button">Login Now</a>
</body>
</html>
