/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 2px 1px 1px #00000057;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    margin: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Admin Dashboard Specific Styles */
  h2 {
    margin-top: 0;
  }
  
  a {
    color: #0066cc;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    line-height: 1.5;
  }
  
  /* Book Management Section */
  h3 {
    margin-top: 0;
  }
  
  /* User Management Section */
  /* admin.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1,
h2,
h3 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Admin Dashboard Specific Styles */
h2 {
  margin-top: 0;
}

a {
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.5;
}

/* Book Management Section */
h3 {
  margin-top: 0;
}

/* User Management Section */

