@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.1)), url('/assets/Background2.png');
    background-size: cover;
    color: #333;
    line-height: 1.6;
}


::-webkit-scrollbar {
    width: 8px; /* Width of the vertical scrollbar */
    height: 8px; /* Height of the horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: rgba(241, 241, 241, 0.3); /* Color of the track with reduced opacity */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5); /* Color of the scroll thumb with reduced opacity */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.7); /* Color of the scroll thumb on hover with reduced opacity */
}


:root{
    --clr-blue: #1A91F0;
    --clr-blue-mid: #1170CD;
    --clr-blue-dark: #1A1C6A;
    --clr-white: #ffffff;
    --clr-bright: #ff0303;
    --clr-dark: #202016;
    --clr-black: #000000;
    --clr-grey: #000000;
    --clr-green: #203738;
    --font-poppins: 'Poppins', sans-serif;
    --font-manrope: 'Manrope', sans-serif;;
    --transition: all 300ms ease-in-out;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-size: 1.6rem;
}

button{
    border: none;
    background-color: transparent;
    outline: 0;
    cursor: pointer;
    font-family: inherit;
}

img{
    width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

/* fonts */
.font-poppins{font-family: var(--font-poppins);}
.font-manrope{font-family: var(--font-manrope);}

/* text colors */
.text-blue{color: var(--clr-blue);}
.text-blue-mid{color: var(--clr-blue-mid);}
.text-blue-dark{color: var(--clr-blue-dark);}
.text-bright{color: var(--clr-bright);}
.text-dark{color: var(--clr-dark);}
.text-grey{color: var(--clr-grey);}
.text-white{color: var(--clr-white);}

/* backgrounds */
.bg-blue{background-color: var(--clr-blue);}
.bg-blue-mid{background-color: var(--clr-blue-mid);}
.bg-blue-dark{background-color: var(--clr-blue-dark);}
.bg-bright{background-color: var(--clr-bright);}
.bg-dark{background-color: var(--clr-dark);}
.bg-grey{background-color: var(--clr-grey);}
.bg-white{background-color: var(--clr-white);}
.bg-black{background-color: var(--clr-black);}
.bg-green{background-color: var(--clr-green);}

.text-center{ text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-uppercase{text-transform: uppercase;}
.text-lowercase{text-transform: lowercase;}
.text-capitalize{text-transform: capitalize;}
.text{
    color: var(--clr-dark);
    opacity: 0.9;
    margin: 2rem 0;
    line-height: 1.6;
}

.fw-2{font-weight: 200;}
.fw-3{font-weight: 300;}
.fw-4{font-weight: 400;}
.fw-5{font-weight: 500;}
.fw-6{font-weight: 600;}
.fw-7{font-weight: 700;}
.fw-8{font-weight: 800;}

.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-19{font-size: 19px;}
.fs-20{font-size: 20px;}
.fs-21{font-size: 21px;}
.fs-22{font-size: 22px;}
.fs-23{font-size: 23px;}
.fs-24{font-size: 24px;}
.fs-25{font-size: 25px;}

.ls-1{letter-spacing: 1px;}
.ls-2{letter-spacing: 2px;}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.6rem;
}

/* bars button */
.bars{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 16.5px;
    width: 25px;
}
.bars .bar{
    width: 100%;
    height: 2px;
    background-color: var(--clr-blue);
    transition: var(--transition);
}

.bars:hover .bar{
    background-color: var(--clr-dark);
}

/* buttons */
.btn{
    font-size: 14.5px;
    font-weight: 600;
    padding: 1.4rem 1.6rem;
    border-radius: 4px;
    display: inline-block;
}

.btn-primary{
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border: 1px solid var(--clr-blue);
    transition: var(--transition);
}

.btn-primary:hover{
    background-color: transparent;
    color: var(--clr-dark);
    border-color: var(--clr-grey);
}

.btn-secondary{
    background-color: transparent;
    color: var(--clr-dark);
    border: 1px solid var(--clr-grey);
    transition: var(--transition);
}

.btn-secondary:hover{
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border-color: var(--clr-blue);
}

.btn-group button:first-child, .btn-group a:first-child{
    margin-right: 1rem!important;
}

/* navbar part */
.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 8px;
}

.navbar .container{
    width: 100%;
}

.navbar-brand{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.8rem;
}
.navbar-brand-text{
    color: var(--clr-dark);
    font-weight: 600;
}
.navbar-brand-text span{
    color: var(--clr-blue);
}
.navbar-brand-icon{
    width: 25px;
    margin-right: 6px;
    opacity: 0.8;
}
.brand-and-toggler{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-content{
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
}
.header-content img{
    max-width: 760px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: 3.2rem;
}
.lg-title{
    margin: 1.4rem 0;
    font-size: 37px;
    line-height: 1.4;
    color: var(--clr-dark);
}
.header-content p{
    margin-bottom: 2.6rem;
    line-height: 1.6;
}


/* section one */
.section-one{
    padding: 64px 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.section-one-l img{
    max-width: 545px;
    margin-right: auto;
    margin-left: auto;
}
.section-one-r{
    margin-top: 4rem;
}

.section-one .btn-group{
    margin-top: 2rem;
}
.section-one-r{
    max-width: 545px;
    margin-right: auto;
    margin-left: auto;
}
.section-one-r .btn-group{
    margin-top: 3rem;
}

/* section two */
.section-two{
    padding: 64px 0;
}
.section-two .section-items{
    display: grid;
    gap: 2rem;
}

.section-two .section-item{
    max-width: 350px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.section-two .section-item-icon{
    margin: 1rem 0;
}
.section-two .section-item-icon img{
    width: 80px;
    margin-right: auto;
    margin-left: auto;
}
.section-two .section-item-title{
    color: var(--clr-blue-dark);
    font-size: 1.8rem;
    font-weight: 600;
}
.section-two .text{
    margin: 0.9rem 0;
}

/* footer */
.footer{
    padding: 3rem 0;
}
.footer-content p{
    color: var(--clr-grey);
}
.footer-content p span{
    color: var(--clr-white);
}

/* media queries */
@media screen and (min-width: 768px){
    .section-two .section-items{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .section-one-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
    }
    .section-one-r{
        text-align: left;
    }
    .section-two .section-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .section-two .section-item{
        text-align: left;
    }
    .section-two .section-item-icon img{
        margin-left: 0;
    }
}



/* resume page */
#about-sc{
    padding: 64px 0;
    margin-top: -10rem;
}

.cv-form-row-title{
    background-color: var(--clr-dark);
    padding: 0.8rem 1.6rem;
    margin-bottom: 2rem;
}

.cv-form-row-title-preview{
    background-color: var(--clr-dark);
    padding: 0.8rem 1.6rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.cv-form-row-title-preview h3{
    color: var(--clr-white);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.7rem;
}

.cv-form-row-title h3{
    color: var(--clr-white);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 1.7rem;
}
.cv-form-blk{
    margin: 3rem 0;
}
.cv-form-row{
    padding: 3rem 2rem 0 2rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
    position: relative;
}
textarea{
    resize: none;
}
.form-elem{
    margin-bottom: 3rem;
    position: relative;
}
.form-label{
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: var(--clr-dark);
    margin-bottom: 0.5rem;
}
.form-control{
    border-radius: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    width: 100%;
    outline: 0;
    transition: var(--transition);
}

.form-control:focus{
    border-color: rgba(0, 0, 0, 0.3);
}
.form-text{
    color: #ca0b00;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0.5px;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
}
.cols-3, .cols-2{
    display: grid;
}
.repeater-add-btn{
    width: 25px;
    height: 25px;
    background-color: var(--clr-blue-mid);
    font-size: 1.6rem;
    color: var(--clr-white);
    margin: 1rem 0;
}
.repeater-remove-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ca0b00;
    color: var(--clr-white);
    font-size: 1.6rem;
}

/* preview section */
.preview-cnt{
    border-radius: 5px;
    display: grid;
    grid-template-columns: 32% auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: hidden;
}

.preview-cnt-l{
    padding: 3rem 3rem 2rem 3rem;
}
.preview-cnt-r{
    padding: 3rem 3rem 3rem 4rem;
    background-image: linear-gradient(
        rgba(139, 137, 137, 0.24),
          rgb(139, 137, 137, 0.24)
      ), url('/assets/Counselingbg2.png');
}
.preview-cnt-l .preview-blk:nth-child(1){
    text-align: center;
}
.preview-image{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}
.preview-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.preview-item-name{
    font-size: 2.4rem;
    font-weight: 600;
    margin: 1.8rem 0;
    position: relative;
}
.preview-item-name::after{
    position: absolute;
    content: "";
    bottom: -10px;
    width: 50px;
    height: 1.5px;
    background-color: rgba(255, 255, 255, 0.5);
    left: 50%;
    transform: translateX(-50%);
}
.preview-blk{
    padding: 1rem 0;
    margin-bottom: 1rem;
}
.preview-blk-title h3{
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 0.5rem;
}
.preview-blk-title{
    margin-bottom: 1rem;
}
.preview-blk-list .preview-item{
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    opacity: 0.95;
}
.preview-cnt-r .preview-blk-title{
    color: var(--clr-black);
}
.preview-cnt-r .preview-blk-list .preview-item{
    margin-top: 1.8rem;
}

.achievements-items.preview-blk-list .preview-item span:first-child,
.educations-items.preview-blk-list .preview-item span:first-child,
.experiences-items.preview-blk-list .preview-item span:first-child{
    display: block;
    font-weight: 600;
    margin-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.03);
}

.educations-items.preview-blk-list .preview-item span:nth-child(2),
.experiences-items.preview-blk-list .preview-item span:nth-child(2){
    font-weight: 600;
    margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(3),
.experiences-items.preview-blk-list .preview-item span:nth-child(3){
    font-style: italic;
    margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(4),
.educations-items.preview-blk-list .preview-item span:nth-child(5),
.experiences-items.preview-blk-list .preview-item span:nth-child(4),
.experiences-items.preview-blk-list .preview-item span:nth-child(5){
    margin-right: 1rem;
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding: 0 1rem;
    border-radius: 0.6rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(6),
.experiences-items.preview-blk-list .preview-item span:nth-child(6){
    font-size: 13.5px;
    display: block;
    opacity: 0.8;
    margin-top: 1rem;
}
.projects-items.preview-blk-list .preview-item span{
    display: block;
}

@media screen and (min-width: 768px){
    .cols-3{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
    .cols-2{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

@media screen and (min-width: 992px){
    .cv-form-row{
        padding: 3rem 3rem 0rem 3rem;
    }
    .cols-3{
        grid-template-columns: repeat(3, 1fr);
    }
}

.print-btn-sc{
    margin: 2rem 0 6rem 0;
}

/* print section */
@media print{
    body *{
        visibility: hidden;
    }

    .non_print_area{
        display: none;
    }

    .print_area, .print_area *{
        visibility: visible;
    }

    .print_area{
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
    }
}

.nav {
    background-color: #ffd43b;
    display: flex;
    justify-content: space-between; /* This will push the logo to the left and nav-items to the right */
    align-items: center; /* This will vertically center the items */
    padding: 30px;
    box-shadow: 0px 0px 8px 2px rgba(58, 57, 57, 0.582);
}

.nav-logo img {
    max-width: 100%;
    width: 21.8rem;
    height: auto;
    position: absolute;
    top: 0;
    margin-left: 5%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.199);
}

.nav-items {
    display: flex;
    justify-content: flex-end; /* This will push the navtext to the right */
    align-items: center; /* This will vertically center the items */
    height: 100%; /* This will make the nav-items take the full height of the nav bar */
}
  
  
  li {
    list-style: none;
  }
  
  .navtext:link, a:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .navtext:active, .navtext:hover, .dropdown:hover .dropbtn  {
    background-color: #5683ec;
    color: #fff;
    border-radius: 90px;
    transition: all 0.3s;
    font-size: larger;
    box-shadow: 0px 5px 5px 0px black;
    text-decoration: none;
  }
  
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-weight: bold;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(17, 17, 17);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: .5s;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.pagination-links a {
    padding: 1%;
    text-decoration: none;
    color: #f8f8f8;
    background-color: rgb(122, 161, 43);
    margin-right: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-weight: 800;
    border-radius: 10px;
}

#resume-link:hover {
    transition: .5s;
    padding: 2%;
    text-decoration: none;
    color: #1d1b1b;
    background-color: rgb(173, 233, 23);
    margin-right: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-weight: 800;
}

#cover-letter-link:hover {
    transition: .5s;
    padding: 2%;
    text-decoration: none;
    color: #1d1b1b;
    background-color: rgb(173, 233, 23);
    margin-right: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    font-weight: 800;
}

.upper-description {
    position: relative;
    background: linear-gradient(to left, #F7F7F7 40%, rgb(227, 250, 96));
    height: 35rem;
    padding: 1%;
    overflow: hidden;
  }

  main {
    justify-content: space-evenly;
    background-color: #F7F7F7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3%;
}

.upper-description span {
    font-size: 100%;
}
  
  .description-bg-image {
    position: absolute;
    right: 10%; /* Adjust as needed */
    top: 20%;  /* Adjust as needed */
    width: 30%;
    height: auto; /* Adjust as needed */
  }
  
  .description-content {
    position: relative;
    z-index: 1; /* This ensures the text appears above the background image */
    width: 50%;
    margin: 4%;
  }
  
  .upper-description h2 {
    margin-bottom: 20px;
    color: #1b1b1b;
    border-bottom: solid 1px rgba(0, 0, 0, 0.459);
    padding: 1%;
    font-weight: 800;
    font-size: 220%;
  }

  #coverLetter {
    background-color: #ffffff; /* White background for a clean look */
    border-radius: 4px; /* Slightly rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 3%; /* Spacing inside the container */
    margin-top: 20px; /* Spacing from the top */
    max-width: 90%; /* Maximum width of the form */
    margin-left: auto; /* Centering the form */
    margin-right: auto; /* Centering the form */
  }
  
  #coverLetter h2 {
    color: #333; /* Dark grey color for headings */
    border-bottom: 1px solid #ddd; /* Light line under the heading */
    padding-bottom: 10px; /* Spacing under the heading line */
    margin-bottom: 20px; /* Spacing after the heading */
  }
  
  #coverLetterForm label {
    color: #333; /* Dark grey color for labels */
    display: block; /* Labels on their own line */
    margin-bottom: .5rem; /* Space between label and input */
    font-weight: 600; /* Bold font for labels */
  }
  
  #coverLetterForm input[type="text"],
  #coverLetterForm input[type="tel"],
  #coverLetterForm input[type="email"],
  #coverLetterForm textarea {
    width: 100%; /* Full width of the column */
    padding: 10px; /* Spacing inside the input */
    margin-bottom: 15px; /* Spacing after the input */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners for inputs */
  }
  
  #coverLetterForm button {
    background-color: var(--clr-blue);
    color: var(--clr-white);
    border: 1px solid var(--clr-blue);
    transition: var(--transition);
    padding: 1%;
    border-radius: 3px;
    font-weight: 750;
    font-size: 100%;
  }
  
  #coverLetterForm button:hover {
    background-color: transparent;
    color: var(--clr-dark);
    border-color: var(--clr-grey);
  }

  
  #output {
    background-color: #f9f9f9; /* Light grey background for the output */
    border: 1px solid #ddd; /* Light grey border */
    padding: 20px; /* Spacing inside the output container */
    margin-top: 20px; /* Spacing after the form */
    border-radius: 4px; /* Rounded corners for the output box */
  }
  
  @media print {
    #coverLetter {
      border: none;
      box-shadow: none;
    }
  }

  
#resume {
    background-color: #ffffff; /* White background for a clean look */
    border-radius: 4px; /* Slightly rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px; /* Spacing inside the container */
    margin-top: 20px; /* Spacing from the top */
    max-width: 90%; /* Maximum width of the form */
    margin-left: auto; /* Centering the form */
    margin-right: auto; /* Centering the form */
}

.pagination-links{
    background-color: #F7F7F7;
    padding: 3%;
    text-align: center;
}